@font-face
{
    font-family: myFirstFont;
    src: url('Font/汉仪.ttf');

}


.titleText ul li a{
    font-family:myFirstFont;
    /*font-size: 2em;*/
}
.textTest p{

    font-family: myFirstFont;
}

.introduce{

    font-family: myFirstFont;
}

.new-window{
    text-decoration: none;
}


@font-face {
    font-family: SnellRoundhand;
    src: url('Font/Snell Roundhand Script.ttf');
}

#head-slider figure h1{
    font-family: SnellRoundhand;
    font-size: 200%;
    color:#45b29a;
    text-align: center;
}